.DS_Store
__pycache__/
*.pyc
env/
venv/
.env
.idea/
.vscode/
data/*.csv
output/
output/*.png
output/*.pdf
logs/
logs/*.log
*.egg-info/
dist/
build/  
*.sqlite3
*.log
.ipynb_checkpoints
*.pytest_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.pyre/
.cache/
*.bak
*.swp
*.tmp
*.old